.input__password {
  position: relative;
  &_notFilled {
    padding-top: 8px;
    position: absolute;
    font-size: 14px;
    color: red;
    bottom: 0px;
    margin-bottom: 12px;
  }
  &:focus-within {
    .input__tooltip {
      display: block;
      z-index: 1;
      position: absolute;
      background-color: #fff;
      box-shadow: (0px 4px 24px rgba(60, 37, 125, 0.24));
      padding: 12px;
      top: 58px;
      width: 100%;
      > p {
        border-top: 0.4px solid #696e7b;
        padding: 16px 0 0 0;
        color: red;
        font-size: 14px;
        line-height: 18.2px;
        margin-top: 16px;
      }
    }
  }
}

.input {
  &__tooltip {
    display: none;
  }
  &__list {
    font-size: 14px;
    line-height: 18.2px;
    text-align: left;
  }
  &__listItem {
    color: #696e7b;
    display: flex;
    align-items: center;
    > svg {
      min-width: 16px;
      min-height: 16px;
      stroke: #696e7b;
      margin: 4px 4px 4px 0;
    }
    &_active {
      display: flex;
      align-items: center;
      > svg {
        min-width: 16px;
        min-height: 16px;
        stroke: #07bd50;
        color: #07bd50;
        margin: 4px 4px 4px 0;
      }
    }
  }
}
