@import "normalize.css/opinionated.css";
@import "reset-css";

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "InterRegular";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "InterMedium", "Arial", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}